@import '../../index.scss';

.todo__create{
    display: flex;
    gap: 10px;
    align-items: center;
    cursor: pointer;

    &:hover{
        // & ต้องเว้นวรรค
        & .todo__create__button{
            background-color: $primary;
            color: $white;
        }

        & .todo__create__text{
            color: $primary;
        }
       
    }

   
    &__button{
    font-size: 2.4rem;
    width: 2.4rem;
    height: 2.4rem;
    border-radius: 50%;
    // text-align: center;

    //ทำให้ปุ่มอยู่กลาง
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 2.2rem;
   

    &:hover{
       
        color: $white;
    }
    }
    &__text{
        color: $grey-dark;
        font-weight: 500;
        font-size: 1.6rem;
        line-height: 1.2rem;

       
    }
}