@import '../index.scss';

// Header 
.header{
    display: flex;
    align-items: center;
    gap: 20px;
    background-color: $primary;
    height: $header-height;
    padding: 5px 20px;


    &__logo{
        font-size: 2.4rem;
        color: $white;
        display: flex;
        cursor: pointer;

    }
    &__text{
        flex: 1;
        color: $white;

        & > h1 {
            font-size: 2.4rem;
            display: inline;
        }

    }
    &__search{
        min-width: 300px;
       
        
    }
}


// ย้ายไป Search.scss
// .search{
//     position: relative;

//     &__icon{
//         position: absolute;
//         left: 7px;
//         top: 50%;
//         transform: translateY(-50%);
//         font-size: 1.6rem;
//         color: $grey-dark;
//         display: flex;
//     }
//     &__input{
//         width: 100%;
//         padding: 5px;
//         padding-left: 30px;
//         border-radius: 5px;
//         border: 1px solid $grey-dark;
//         font-size: 1.6rem;
//         outline: none;
//     }
// }



