//block
@import "../index.scss";


.list {
  //element
  display: flex;
  flex-direction: column;
  gap: 5px;

  &__item {
    display: flex;
    gap: 15px;
    font-size: 2rem;
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
    font-weight: 400;
    //Modify
    &:hover {
      background-color: $grey-light;
    }

    &__text {
      font-weight: inherit;
    }
  }
}
.active {
  font-weight: 800;
  background-color: $grey-light;
}
