
@import "./index.scss";

$header-height:60px;
$sidebar-width:300px;

.todo{
    display: grid;
    grid-template-rows: $header-height calc(100vh - $header-height);
    grid-template-columns: $sidebar-width calc(100vw - $sidebar-width);

///// อยู่ ใน class todo ทั้งหมด
/// ////////////////////////////
    &__header{
        // grid-row-start: 1;
        // grid-row-end: 2 ;
        // grid-column-start: 1;
        // grid-column-end: -1;
        //ย่อจากดา้านบน
        grid-row: 1/2;
        grid-column: 1/-1;

    }
    &__sidebar{
        // grid-row-start: 2;
        // grid-row-end: -1;
        // grid-column-start: 1;
        // grid-column-end: 2;
        grid-row: 2/-1;
        // grid-column: 1/2;
        grid-column: 1/span 1;
    }
    &__content
    {
        // grid-row-start: 2;
        // grid-row-end: -1;
        // grid-column-start: 2;
        // grid-column-end: -1;
        grid-row: 2/-1;
        grid-column: 2/-1;

    }
}


// ย้าย class ทั้งหมด ไปไว้ ด้านบน
// .todo__header{
//     grid-row-start: 1;
//     grid-row-end: 2 ;
//     grid-column-start: 1;
//     grid-column-end: -1;
//     background-color: red;
// }

// Header

.header{
    display: flex;
    align-items: center;
    gap: 20px;
    background-color: $primary;
    height: $header-height;
    padding: 5px 20px;


    &__logo{
        font-size: 2.4rem;
        color: $white;
        display: flex;

    }
    &__text{
        flex: 1;
        color: $white;

        & > h1 {
            font-size: 2.4rem;
            display: inline;
        }

    }
    &__search{
        min-width: 300px;
       
        
    }
}



